/* ==== RESET DAN DASAR ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  
  background: linear-gradient(90deg, #0665d1,#226ec5,#38b6ec );
  color: #e2cfcf;
}

/* ==== NAVBAR ==== */
header {
  background: linear-gradient(90deg, #0C2B4E,#1A3D64,#1D546C );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 20px;
  letter-spacing: 1px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #c8e6c9;
}

/* ==== HERO SECTION ==== */
.hero {
  height: 100vh;
  background: url('gambar2.jpg') center/cover no-repeat;
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.hero-content h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-content a {
  background: #e6be0e;
  color: #333;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.hero-content a:hover {
  background: #ee9d25 ;
}

/* ==== INFO SECTION ==== */
section {
  padding: 60px 80px;
  text-align: center;
}

section h2 {
  color: #EEEEEE;
  margin-bottom: 20px;
  font-size: 26px;
}

section p {
  color: #e1e5eb;
  font-size: 17px;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}


/* ==== FOOTER ==== */
.footer {
  background-color: #f8f9fb;
  color: #4b5563;
  padding: 40px 20px 10px;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid #e5e7eb;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  gap: 30px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.logo-section h2 {
  color: #2563eb;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-section p {
  margin-top: 8px;
  font-size: 14px;
  color: #6b7280;
}

.footer-section h3 {
  color: #111827;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #4b5563;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #2563eb;
  text-decoration: underline;
}

.footer-section p {
  font-size: 14px;
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #e5e7eb;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 13px;
  color: #6b7280;
}